/*
 * SPDX-FileCopyrightText: 2023 Steph Ango
 * SPDX-FileCopyrightText: 2026 3x333
 *
 * SPDX-License-Identifier: MIT
 */

QToolTip {
	color: #282726;
	background-color: #F2F0E5;
	border: 1px solid #DAD8CE;
}
